{
    "degree": 20,
    "num_advice": 19,
    "num_lookup_advice": 1,
    "num_fixed": 1,
    "lookup_bits": 19,
    "bodyhash_regex_filepath": "./configs/bodyhash_allstr.txt",
    "bodyhash_substr_filepath": "./configs/bodyhash_substr_0.txt",
    "header_regex_filepathes": [
        "./configs/from_allstr.txt",
        "./configs/to_allstr.txt",
        "./configs/subject_allstr.txt"
    ],
    "header_substr_filepathes": [
        "./configs/from_substr_0.txt",
        "./configs/to_substr_0.txt",
        "./configs/subject_substr_0.txt"
    ],
    "body_regex_filepath": "",
    "body_substr_filepathes": [
    ],
    "num_sha2_compression_per_column": 1,
    "header_max_byte_size": 512,
    "body_max_byte_size": 512,
    "public_key_bits": 2048,
    "header_substr_regexes": [
        [
            "(?<=from:).*@.*(?=\r)"        
        ],
        [
            "(?<=to:).*@.*(?=\r)"
        ],
        [
            "(?<=subject:).*(?=\r)"
        ]
    ],
    "body_substr_regexes": [
    ]
}